body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.header {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.container {
    width: 1209px;
    margin: auto;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.company-name {
    font-family: "Ubuntu 700",sans-serif;
    font-weight: 700;
    line-height: 22px;
    color: #FFFFFF;
    margin-right: 704px;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.3s ease-out;
}
.company-name:hover {
    color: #3CB878;
}
.welcome {
    font-family: "Ubuntu 400",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 0;
    padding-left: 27px;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
}
.icon{
    transition: all 0.3s ease-out;
}
.icon-link:hover .icon {
   fill: #3CB878;
}
.log-in-link {
    color: #FFFFFF;
    transition: all 0.6s ease-out;
}
.log-in-link:hover {
    color: #3CB878;
}
.sign-up-link {
    color: #FFFFFF;
    transition: all 0.6s ease-out;
}
.sign-up-link:hover {
    color: #3CB878;
}
.section-form {
    width: 444px;
    margin: calc((100vh - 60px - 584px)/2) auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}
.container-form {
    padding: 31px 60px 38px ;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    grid-column-gap: 4px;
    grid-row-gap: 15px;
    margin-bottom: 31px;
}
.form-name {
    font-family: "Ubuntu 400", sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin: 0;
    position: relative;
}
.form-name:before {
    content: url("../images/shape.jpg");
    position: absolute;
    right: calc(100% + 42px);
}
.alternative-form {
    display: inline-block;
    font-family: "Ubuntu 400", sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    justify-self: end;
    transition: all 0.3s ease-out;
}
.alternative-form:hover {
    color: #01813F;
    text-decoration-line: underline;
}
.facebook-log-in {
    padding: 17px 22px 17px 67px;
    background-color: #305DB8;
    background-size: 13px 24px;
    font-family: "Ubuntu 400", sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    text-align: right;
    position: relative;
    transition: all 0.3s ease-out;
}
.facebook-log-in::before {
    content: url("../images/facebook.png");
    position: absolute;
    top: 12px;
    left: 17px;
    padding-right: 19px;
    border-right: 1px solid rgb(10, 22, 47,0.1);
}
.facebook-log-in:hover {
    background-color: #022263;
}
.google-log-in {
    padding: 17px 27px 17px 80px;
    background: #DF4A32;
    background-size: 30px 19px;
    font-family: "Ubuntu 400", sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    text-align: right;
    position: relative;
    transition: all 0.3s ease-out;
}
.google-log-in::before {
    content: url("../images/google.png");
    position: absolute;
    left: 12px;
    top: 15px;
    padding-right: 7px;
    border-right: 1px solid rgb(10, 22, 47,0.1);
}
.google-log-in:hover {
    background-color: #AB1F09;
}
.line {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 12px;
}
.or {
    position: relative;
    display: inline-block;
}
.or::after,
.or::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #F2F2F2;
}
.or::before {
    right: 100%;
    margin-right: 5px;
}
.or::after {
    left: 100%;
    margin-left: 5px;
}
.form {
    display: grid;
    grid-template-columns:1fr;
    grid-row-gap: 16px;
    margin: 0;
}
input {
    width: 100%;
    padding: 15px 19px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-family: "Ubuntu 400", sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}
input[type=checkbox] {
    display: none;
}
.custom-checkbox {
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-color:rgba(0, 0, 0, 0.0001);
    padding:3px;
}
[type=checkbox]:checked + .custom-checkbox:before {
    content:url("../images/check.svg");
    position: absolute;
    top: 1px;
    left: 2px;
    font-size:23px;
}
.condition {
    transition: all 0.3s ease-out;
}
.checkbox:hover .condition {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}
.submit-button {
    font-family: "Ubuntu 400", sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    padding: 16px;
    border: none;
    transition: all 0.3s ease-out;
}
.submit-button:hover {
    background-color: #01813F;
}
.condition {
    color: #3CB878;
}
input.input::placeholder {
    font-family: "Ubuntu 400", sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;;
}
